.container {
  margin-bottom: 1rem;
}

.container p {
  font-style: italic;
  text-align: center;
}

.btn {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  right: 1rem;
  transition: all 300ms ease-in-out;
}

.rotate-180 {
  transform: rotate(180deg);
}

.remaining-ships {
  display: flex;
  align-items: center;
}

.remaining-ships span {
  padding-left: 1rem;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem 0 0.8rem 0;
}

.info-box svg {
  margin-right: 0.6rem;
  font-size: 0.8rem;
}

.hint {
  display: inline-block;
  font-size: 0.8rem;
}

.message {
  margin: 0.6rem;
}
